
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-nav {
    background-color: rgb(16, 49, 197);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.main-nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.main-nav a:hover {
    background-color: rgb(106, 115, 236);
    color: rgb(228, 228, 228);
}

/* Add a color to the active/current link */
.main-nav a.active {
    background-color: rgb(108, 84, 243);
    color: white;
}


/*==================================
    Background
==================================== */
body{
	background-color:rgba(54, 8, 8, 0.637);
	margin: 0 auto;
	font-family: arial;
}


.logo + div {
	display: inline-block;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
}