/* Background */
body{
	background-color:rgb(223, 253, 253);
	margin: 0 auto;
	font-family: arial;
	
}

/* Company Logo */
.logo + .main-nav {
	display: inline-block;
}


/* ---- Navigation ---- */
.main-nav {
    background-color: rgb(16, 49, 197);
	overflow: hidden;
	margin: 0px;
}

/* Style Navigation Bar */
.main-nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on hover */
.main-nav a:hover {
    background-color: rgb(106, 115, 236);
    color: rgb(228, 228, 228);
}

/* Color to the active/current link */
.main-nav a.active {
    background-color: rgb(108, 84, 243);
    color: white;
}



/*========================================
		   *Footer Navigation Bar
==========================================*/
.footer-nav {
	background-color: rgb(16, 49, 197);
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/* Style Navigation Bar */
.footer-nav a {
	float: right;
	display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 17px;

}

/* Color of links on hover */
.footer-nav a:hover {
    background-color: rgb(106, 115, 236);
    color: rgb(228, 228, 228);
}

/* Color to the active/current link */
.footer-nav a.active {
    background-color: rgb(108, 84, 243);
    color: white;
}


.copyright{
	color: white;
	float: left;
	text-align: left
}

.copyright ,.footer-nav{
	display: inline-block;
}