/* Background */
body{
	background-color:rgb(255, 255, 255);
	margin: 0 auto;
	font-family: arial;
	
}

/* Company Logo */
.logo + .main-nav {
	display: inline-block;

}

.logo {
	margin-top: 3px;
	border-radius: 50%;
}


/* ---- Navigation ---- */
.main-nav {
    background-color: rgb(0, 109, 91);
	overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  
	
}

/* Style Navigation Bar */
.main-nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on hover */
.main-nav a:hover {
    background-color: rgb(52, 52, 53);
    color: rgb(228, 228, 228);
}

/* Color to the active/current link */
.main-nav a.active {
    background-color: rgb(98, 98, 100);
    color: white;
}
/*========================================
		   Company Title 
==========================================*/

.e-title{
    position: relative;
    width: 100%;
    max-height: 220px;
    padding-bottom: 36px;
    
}
/*========================================
		   *Slide Show
==========================================*/
* {box-sizing:border-box}


/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  max-height: 300px;
  overflow:hidden;
  position: relative;
  margin: auto;

}

.red {
	max-width: 800px;
	max-height: 380px;
}

/* Hide the images by default */
.mySlides {
	display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1.0s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  text-emphasis: bold;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 14px 16px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*========================================
		   *Columns
==========================================*/



.row div{
  margin-left: 0;
}

.col {
  float: left;
  width: 33.33%;
  text-align: center;
  border: 20px solid rgb(255, 255, 255);
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  width: 80%;
  margin: 20px 0px 20px 0px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

p {
  text-align: left;
  word-wrap: normal;
}


/*========================================
		   *Footer Navigation Bar
==========================================*/
.footer-nav {
	background-color: rgb(0, 109, 91);
  overflow: hidden;
	/*position: fixed;*/
	bottom: 0;
  width: 100%;
}

/* Style Navigation Bar */
.footer-nav a {
	float: right;
	display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
	font-size: 17px;

}

/* Color of links on hover */
.footer-nav a:hover {
    background-color:  rgb(52, 52, 53);
    color: rgb(228, 228, 228);
}

/* Color to the active/current link */
.footer-nav a.active {
    background-color: rgb(98, 98, 100);
    color: white;
}


.copyright{
	color: white;
	float: left;
	text-align: center;
	padding: 2px;
}

.copyright ,.footer-nav{
  display: inline-block;
}